<!DOCTYPE html>
<html>
    <head>
        <title>
            Intern Finder
        </title>
    </head>
    <style type="text/css">
        div{
            text-align:center;
            border:2px solid black;
            width:fit-content;
            margin:0 550px;
    }
        h1{
            text-align: center;
        }
    </style>
    <body style="background-color:grey;">
        <h1 style="font-size:50px;"><b>Intern Finder</b></h1>
        <div >
            <a href="vacancies" ><button style="font-size:30px;width:200px;padding:3px;margin:5px;">Find</button></a></br>
            <a href="login" ><button style="font-size:30px;width:200px;padding:3px;margin:5px;">Sign In</button></a></br>
            <p>Are You Not Register????</p>
            <a href="register"><button style="font-size:30px;width:200px;padding:3px;color:blue;background-color:grey;border: unset;">Register</button></a>
        </div>
    </body>
</html>