<!doctype html><html><head>
  <style>
     td{
       margin:15px;
       padding:15px;
     }
     input,label{
       font-size:26px;
     }
     h1{
       font-size:46px;
       text-align:center;
     }
     #content{
       width:600px;
       height:300px;
       margin:0 300px 0 300px;
       padding:50px;
       border:2px solid black;
     }
   </style>
 </head>
 <body style="background-color:grey;">
  <h1> Log In </h1>
     {% include 'includes/Messages.html' %}
  <div id="content">
   <form action="" method="post">
    {% csrf_token %}
    <table>
     <tbody>
      <tr>
       <td><label>User Name</label></td>
       <td><input type="text" name="uName" Required></td>
      </tr>
      <tr>
       <td><label>Password</label></td>
       <td><input type="password" name="pass1" Required></td>
      </tr>
      <tr>
       <td></td>
       <td><input type="submit" name="submit" value="Log In"></td>
      </tr>
     </tbody>
    </table>
   </form>
  </div>
</body></html>