<!doctype html><html><head> 
  <style>
     label{
       font-size:26px;
     }
     h1{
       font-size:46px;
       text-align:center;
     } 
     div{
       margin:40px;
     }
     select{
      padding:10px;
       width:325px;
     }
     input{
        font-size:20px;
        padding:4px;
     }
     table{
        border:1px solid black;
     }
     td{
        padding:10px;
        width:400px;
     }
   </style> 
 </head> 
 <body style="background-color:grey;"> 
  <h1>Vacancy</h1> 
  <div>
        <form method="post">
            {% csrf_token %}
            <label>Filter :</label>
            <select name="position" >
                <option selected disable hidden placeholder="Select Position">{{position}}</option>
                <option >Senior Software Engineer</option>
                <option >Software Engineer</option>
                <option >Associative Software Engineer</option>
            </select>
            <input type="submit" value="search" />
        </form>
  </div> 
  <div> 
   <h2>Posts</h2>
   <ul>
     {% for x in Post %} 
    <li>
        <table>
            <form method="post" action="apply">
                {% csrf_token %}
            <tr><td><label>Position</label></td><td><label name="jobPosition">{{x.position}}</label></td></tr>
            <tr><td><label>Company</label></td><td><label name="company">{{x.companyName}}</label></td></tr>
            <tr><td><label>Requirments</label></td><td><label name="requirments">{{x.requirments}}</label></td></tr>
            <tr><td><label>Email</label></td><td><label name="cEmail">{{x.email}}</label></td></tr>
            <tr><td><label>Deadline</label></td><td><label name="deadline">{{x.deadline}}</label></td></tr>
            <tr><td></td><td><a href="" ><input type="submit" value="apply" /></a></td></tr>
            </form>
        </table>
    </li>
     {% endfor %} 
   </ul>
  </div> 
 
</body></html>